@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="max-width: 800px; justify-content: center">
    <h1 class="display-4">Lojas cadastradas</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Piso</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Loja/Kiosque</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
                <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>
</div>
